<div class="page-layout blank p-24" fusePerfectScrollbar>

    <h2>Welcome!</h2>

    <button mat-raised-button color="primary" class="mr-12" (click)="apiCall()">API</button>
    <button mat-raised-button color="danger" class="mr-12" (click)="badCall()">Bad API</button>
    <button mat-raised-button color="danger" class="mr-12" (click)="getUsers()">Users</button>
    <button mat-raised-button color="danger" class="mr-12" (click)="logout()">Logout</button>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui fugiat beatae magnam amet voluptatum perspiciatis
        asperiores, molestias veniam sunt voluptas deserunt non, id sit ipsa perferendis ad labore molestiae reiciendis?
        Modi, quae natus. Ut, cupiditate quod! Quam excepturi eum officia neque nulla delectus adipisci? Nisi aliquam,
        esse magnam quis consequuntur reiciendis eveniet illo similique aliquid vel libero sed ex suscipit.
        A eius amet dolorum atque alias. Repudiandae voluptatem autem explicabo molestias cupiditate optio a. Animi
        ipsam nobis eligendi nemo sed porro, temporibus enim suscipit eos. Sint ad repellat culpa ducimus!
    </p>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui fugiat beatae magnam amet voluptatum perspiciatis
        asperiores, molestias veniam sunt voluptas deserunt non, id sit ipsa perferendis ad labore molestiae reiciendis?
        Modi, quae natus. Ut, cupiditate quod! Quam excepturi eum officia neque nulla delectus adipisci? Nisi aliquam,
        esse magnam quis consequuntur reiciendis eveniet illo similique aliquid vel libero sed ex suscipit.
        A eius amet dolorum atque alias. Repudiandae voluptatem autem explicabo molestias cupiditate optio a. Animi
        ipsam nobis eligendi nemo sed porro, temporibus enim suscipit eos. Sint ad repellat culpa ducimus!
    </p>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui fugiat beatae magnam amet voluptatum perspiciatis
        asperiores, molestias veniam sunt voluptas deserunt non, id sit ipsa perferendis ad labore molestiae reiciendis?
        Modi, quae natus. Ut, cupiditate quod! Quam excepturi eum officia neque nulla delectus adipisci? Nisi aliquam,
        esse magnam quis consequuntur reiciendis eveniet illo similique aliquid vel libero sed ex suscipit.
        A eius amet dolorum atque alias. Repudiandae voluptatem autem explicabo molestias cupiditate optio a. Animi
        ipsam nobis eligendi nemo sed porro, temporibus enim suscipit eos. Sint ad repellat culpa ducimus!
    </p>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui fugiat beatae magnam amet voluptatum perspiciatis
        asperiores, molestias veniam sunt voluptas deserunt non, id sit ipsa perferendis ad labore molestiae reiciendis?
        Modi, quae natus. Ut, cupiditate quod! Quam excepturi eum officia neque nulla delectus adipisci? Nisi aliquam,
        esse magnam quis consequuntur reiciendis eveniet illo similique aliquid vel libero sed ex suscipit.
        A eius amet dolorum atque alias. Repudiandae voluptatem autem explicabo molestias cupiditate optio a. Animi
        ipsam nobis eligendi nemo sed porro, temporibus enim suscipit eos. Sint ad repellat culpa ducimus!
    </p>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui fugiat beatae magnam amet voluptatum perspiciatis
        asperiores, molestias veniam sunt voluptas deserunt non, id sit ipsa perferendis ad labore molestiae reiciendis?
        Modi, quae natus. Ut, cupiditate quod! Quam excepturi eum officia neque nulla delectus adipisci? Nisi aliquam,
        esse magnam quis consequuntur reiciendis eveniet illo similique aliquid vel libero sed ex suscipit.
        A eius amet dolorum atque alias. Repudiandae voluptatem autem explicabo molestias cupiditate optio a. Animi
        ipsam nobis eligendi nemo sed porro, temporibus enim suscipit eos. Sint ad repellat culpa ducimus!
    </p>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui fugiat beatae magnam amet voluptatum perspiciatis
        asperiores, molestias veniam sunt voluptas deserunt non, id sit ipsa perferendis ad labore molestiae reiciendis?
        Modi, quae natus. Ut, cupiditate quod! Quam excepturi eum officia neque nulla delectus adipisci? Nisi aliquam,
        esse magnam quis consequuntur reiciendis eveniet illo similique aliquid vel libero sed ex suscipit.
        A eius amet dolorum atque alias. Repudiandae voluptatem autem explicabo molestias cupiditate optio a. Animi
        ipsam nobis eligendi nemo sed porro, temporibus enim suscipit eos. Sint ad repellat culpa ducimus!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui fugiat beatae magnam amet voluptatum perspiciatis
        asperiores, molestias veniam sunt voluptas deserunt non, id sit ipsa perferendis ad labore molestiae reiciendis?
        Modi, quae natus. Ut, cupiditate quod! Quam excepturi eum officia neque nulla delectus adipisci? Nisi aliquam,
        esse magnam quis consequuntur reiciendis eveniet illo similique aliquid vel libero sed ex suscipit.
        A eius amet dolorum atque alias. Repudiandae voluptatem autem explicabo molestias cupiditate optio a. Animi
        ipsam nobis eligendi nemo sed porro, temporibus enim suscipit eos. Sint ad repellat culpa ducimus!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui fugiat beatae magnam amet voluptatum perspiciatis
        asperiores, molestias veniam sunt voluptas deserunt non, id sit ipsa perferendis ad labore molestiae reiciendis?
        Modi, quae natus. Ut, cupiditate quod! Quam excepturi eum officia neque nulla delectus adipisci? Nisi aliquam,
        esse magnam quis consequuntur reiciendis eveniet illo similique aliquid vel libero sed ex suscipit.
        A eius amet dolorum atque alias. Repudiandae voluptatem autem explicabo molestias cupiditate optio a. Animi
        ipsam nobis eligendi nemo sed porro, temporibus enim suscipit eos. Sint ad repellat culpa ducimus!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui fugiat beatae magnam amet voluptatum perspiciatis
        asperiores, molestias veniam sunt voluptas deserunt non, id sit ipsa perferendis ad labore molestiae reiciendis?
        Modi, quae natus. Ut, cupiditate quod! Quam excepturi eum officia neque nulla delectus adipisci? Nisi aliquam,
        esse magnam quis consequuntur reiciendis eveniet illo similique aliquid vel libero sed ex suscipit.
        A eius amet dolorum atque alias. Repudiandae voluptatem autem explicabo molestias cupiditate optio a. Animi
        ipsam nobis eligendi nemo sed porro, temporibus enim suscipit eos. Sint ad repellat culpa ducimus!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui fugiat beatae magnam amet voluptatum perspiciatis
        asperiores, molestias veniam sunt voluptas deserunt non, id sit ipsa perferendis ad labore molestiae reiciendis?
        Modi, quae natus. Ut, cupiditate quod! Quam excepturi eum officia neque nulla delectus adipisci? Nisi aliquam,
        esse magnam quis consequuntur reiciendis eveniet illo similique aliquid vel libero sed ex suscipit.
        A eius amet dolorum atque alias. Repudiandae voluptatem autem explicabo molestias cupiditate optio a. Animi
        ipsam nobis eligendi nemo sed porro, temporibus enim suscipit eos. Sint ad repellat culpa ducimus!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui fugiat beatae magnam amet voluptatum perspiciatis
        asperiores, molestias veniam sunt voluptas deserunt non, id sit ipsa perferendis ad labore molestiae reiciendis?
        Modi, quae natus. Ut, cupiditate quod! Quam excepturi eum officia neque nulla delectus adipisci? Nisi aliquam,
        esse magnam quis consequuntur reiciendis eveniet illo similique aliquid vel libero sed ex suscipit.
        A eius amet dolorum atque alias. Repudiandae voluptatem autem explicabo molestias cupiditate optio a. Animi
        ipsam nobis eligendi nemo sed porro, temporibus enim suscipit eos. Sint ad repellat culpa ducimus!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui fugiat beatae magnam amet voluptatum perspiciatis
        asperiores, molestias veniam sunt voluptas deserunt non, id sit ipsa perferendis ad labore molestiae reiciendis?
        Modi, quae natus. Ut, cupiditate quod! Quam excepturi eum officia neque nulla delectus adipisci? Nisi aliquam,
        esse magnam quis consequuntur reiciendis eveniet illo similique aliquid vel libero sed ex suscipit.
        A eius amet dolorum atque alias. Repudiandae voluptatem autem explicabo molestias cupiditate optio a. Animi
        ipsam nobis eligendi nemo sed porro, temporibus enim suscipit eos. Sint ad repellat culpa ducimus!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui fugiat beatae magnam amet voluptatum perspiciatis
        asperiores, molestias veniam sunt voluptas deserunt non, id sit ipsa perferendis ad labore molestiae reiciendis?
        Modi, quae natus. Ut, cupiditate quod! Quam excepturi eum officia neque nulla delectus adipisci? Nisi aliquam,
        esse magnam quis consequuntur reiciendis eveniet illo similique aliquid vel libero sed ex suscipit.
        A eius amet dolorum atque alias. Repudiandae voluptatem autem explicabo molestias cupiditate optio a. Animi
        ipsam nobis eligendi nemo sed porro, temporibus enim suscipit eos. Sint ad repellat culpa ducimus!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui fugiat beatae magnam amet voluptatum perspiciatis
        asperiores, molestias veniam sunt voluptas deserunt non, id sit ipsa perferendis ad labore molestiae reiciendis?
        Modi, quae natus. Ut, cupiditate quod! Quam excepturi eum officia neque nulla delectus adipisci? Nisi aliquam,
        esse magnam quis consequuntur reiciendis eveniet illo similique aliquid vel libero sed ex suscipit.
        A eius amet dolorum atque alias. Repudiandae voluptatem autem explicabo molestias cupiditate optio a. Animi
        ipsam nobis eligendi nemo sed porro, temporibus enim suscipit eos. Sint ad repellat culpa ducimus!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui fugiat beatae magnam amet voluptatum perspiciatis
        asperiores, molestias veniam sunt voluptas deserunt non, id sit ipsa perferendis ad labore molestiae reiciendis?
        Modi, quae natus. Ut, cupiditate quod! Quam excepturi eum officia neque nulla delectus adipisci? Nisi aliquam,
        esse magnam quis consequuntur reiciendis eveniet illo similique aliquid vel libero sed ex suscipit.
        A eius amet dolorum atque alias. Repudiandae voluptatem autem explicabo molestias cupiditate optio a. Animi
        ipsam nobis eligendi nemo sed porro, temporibus enim suscipit eos. Sint ad repellat culpa ducimus!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui fugiat beatae magnam amet voluptatum perspiciatis
        asperiores, molestias veniam sunt voluptas deserunt non, id sit ipsa perferendis ad labore molestiae reiciendis?
        Modi, quae natus. Ut, cupiditate quod! Quam excepturi eum officia neque nulla delectus adipisci? Nisi aliquam,
        esse magnam quis consequuntur reiciendis eveniet illo similique aliquid vel libero sed ex suscipit.
        A eius amet dolorum atque alias. Repudiandae voluptatem autem explicabo molestias cupiditate optio a. Animi
        ipsam nobis eligendi nemo sed porro, temporibus enim suscipit eos. Sint ad repellat culpa ducimus!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui fugiat beatae magnam amet voluptatum perspiciatis
        asperiores, molestias veniam sunt voluptas deserunt non, id sit ipsa perferendis ad labore molestiae reiciendis?
        Modi, quae natus. Ut, cupiditate quod! Quam excepturi eum officia neque nulla delectus adipisci? Nisi aliquam,
        esse magnam quis consequuntur reiciendis eveniet illo similique aliquid vel libero sed ex suscipit.
        A eius amet dolorum atque alias. Repudiandae voluptatem autem explicabo molestias cupiditate optio a. Animi
        ipsam nobis eligendi nemo sed porro, temporibus enim suscipit eos. Sint ad repellat culpa ducimus!
    </p>

</div>