<div id="payment-method" class="page-layout simple inner-scroll">

    <div class="header primary-400 p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row"
        fxLayoutAlign.gt-xs="space-between center">

        <div fxLayout="row" fxLayoutAlign="space-between">

            <div class="logo" fxLayout="row" fxLayoutAlign="start center"
                [@animate]="{value:'*',params:{delay:'100ms',y:'-25px'}}">
                <mat-icon class="logo-icon mr-16">credit_card</mat-icon>
                <span class="logo-text h1">
                    Manage Payment Methods
                </span>
            </div>
            
        </div>

        <div>

            <button mat-raised-button color="accent" (click)="openAddEditDialog($event)">
                <mat-icon>add</mat-icon>
                New Payment Method
            </button>

        </div>

    </div>

    <div fusePerfectScrollbar>
        
        <div class="profile-content p-24" fxLayout="row wrap" fxLayoutAlign="center center">
            
            <div fxFlex.gt-lg="1366px" fxFlex="80%" class="mat-elevation-z4" *ngIf="paymentMethodList.length > 0 || tableLoading">
                
                <mat-progress-bar mode="query" *ngIf="tableLoading"></mat-progress-bar>
                
                <mat-table #stafftable [dataSource]="dataSource" [@animateStagger]="{value:'50'}">
    
                    <ng-container matColumnDef="brand">
    
                        <mat-header-cell *matHeaderCellDef>Brand</mat-header-cell>
    
                        <mat-cell *matCellDef="let paymentMethod">
    
                            <p class="text-truncate font-weight-600">{{ paymentMethod.brand | titlecase}}</p>
    
                        </mat-cell>
    
                    </ng-container>
    
                    <ng-container matColumnDef="cardNumber">
    
                        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-xs>Card Number</mat-header-cell>
    
                        <mat-cell *matCellDef="let paymentMethod" fxHide fxShow.gt-xs>
    
                            <p class="email text-truncate">{{ paymentMethod.cardNumber }}</p>
    
                        </mat-cell>
    
                    </ng-container>
    
                    <ng-container matColumnDef="expiry">
    
                        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Expiry</mat-header-cell>
    
                        <mat-cell *matCellDef="let paymentMethod" fxHide fxShow.gt-md>
    
                            <p class="phone text-truncate">{{ paymentMethod.expiry }}</p>
    
                        </mat-cell>
    
                    </ng-container>

                    <ng-container matColumnDef="default">
    
                        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-xs>Default</mat-header-cell>
    
                        <mat-cell *matCellDef="let paymentMethod" fxHide fxShow.gt-xs>
    
                            <mat-icon *ngIf="paymentMethod.default" class="green-fg">check_circle_outline</mat-icon>
                            <mat-icon *ngIf="!paymentMethod.default" class="warn-fg">highlight_off</mat-icon>
    
                        </mat-cell>
    
                    </ng-container>
    
                    <ng-container matColumnDef="buttons">
    
                        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
    
                        <mat-cell *matCellDef="let paymentMethod">
    
                            <div fxFlex="row" fxLayoutAlign="start center">
    
                                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                                    (click)="$event.stopPropagation();">
                                    <mat-icon class="secondary-text">more_vert</mat-icon>
                                </button>
    
                                <mat-menu #moreMenu="matMenu">

                                    <button mat-menu-item (click)="setDefault($event, paymentMethod)" *ngIf="!paymentMethod.default">
                                        <mat-icon class="green-fg">check_circle_outline</mat-icon>
                                        <span class="green-fg">Set as default</span>
                                    </button>

                                    <button mat-menu-item aria-label="remove" (click)="deletePaymentMethod($event, paymentMethod)">
                                        <mat-icon class="warn-fg">delete</mat-icon>
                                        <span class="warn-fg">Delete</span>
                                    </button>

                                </mat-menu>
                            </div>
    
                        </mat-cell>
                    </ng-container>
    
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    
                    <mat-row *matRowDef="let contact; columns: displayedColumns;" class="contact"
                        [@animate]="{value:'*',params:{y:'100%'}}">
    
                    </mat-row>
    
                </mat-table>
    
                <mat-paginator 
                    [pageSizeOptions]="[10, 20, 30]"
                    showFirstLastButtons>
                </mat-paginator>
            
            </div>

            <div fxFlex.gt-lg="1366px" fxFlex="80%" class="mat-elevation-z4" *ngIf="paymentMethodList.length === 0 && !tableLoading">

                <mat-progress-bar mode="query" *ngIf="tableLoading"></mat-progress-bar>

                <mat-card class="w-100-p">

                    <mat-card-content>
                
                        <div class="p-40" fxLayout="column" fxLayoutAlign="center center">
                            
                            <div>
                                <mat-icon class="font-size-72 primary-fg inline">info</mat-icon>
                            </div>

                            <div>
                                <h2 class="h2">No Data Found</h2>
                            </div>

                        </div>

                    </mat-card-content>
                
                </mat-card>

            </div>

        </div>

    </div>


</div>