<div class="page-layout blank p-24" fusePerfectScrollbar>

    <div id="reset-password-container" class="p-24" fxFill fxLayout="row" fxLayoutAlign="center center">

        <mat-card class="p-36" [@animate]="{ value:'*', params:{ delay: '200ms', y:'-35px' } }">

            <form [formGroup]="resetPasswordForm" fxLayout="column">

                <div class="logo text-center">
                    <img src="assets/images/logos/logo.jpg" alt="logo">
                </div>

                <h3 class="text-center h3">Please reset your password</h3>

                <mat-form-field appearance="outline">

                    <mat-label>Password</mat-label>

                    <input type="password" formControlName="password" matInput>

                    <mat-error *ngIf="resetPasswordForm.get('password').hasError('required')">
                        Password is required
                    </mat-error>

                </mat-form-field>

                <mat-form-field appearance="outline">

                    <mat-label>Confirm Password</mat-label>

                    <input type="password" formControlName="confirm_password" matInput>

                    <mat-error *ngIf="resetPasswordForm.get('confirm_password').hasError('matchError') && !resetPasswordForm.get('confirm_password').hasError('required')">
                        Password does not match
                    </mat-error>

                    <mat-error *ngIf="resetPasswordForm.get('confirm_password').hasError('required')">
                        Password confirmation is required
                    </mat-error>

                </mat-form-field>

                <button 
                    mat-raised-button 
                    color="primary" 
                    [disabled]="resetPasswordForm.invalid" 
                    type="button"
                    [loading]="loading"
                    (click)="submit($event)">
                    Reset Password
                </button>

            </form>

        </mat-card>

    </div>

</div>