@import "src/@fuse/scss/fuse";

.add-edit-staff-dialog {
    
    @include media-breakpoint('xs') {
        width: 100%;
    }
    
    @include media-breakpoint('gt-xs') {
        width: 640px;
    }
    
    .mat-dialog-container {
        padding: 0;

        form {

            width: 100%;
            text-align: left;
    
            input[type="number"]::-webkit-inner-spin-button,
            input[type="number"]::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

        }
    
    }
    
    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;
    }


}