<div id="staff" class="page-layout simple inner-scroll">

    <div class="header primary-400 p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row"
        fxLayoutAlign.gt-xs="space-between center">

        <div fxLayout="row" fxLayoutAlign="space-between">

            <div class="logo" fxLayout="row" fxLayoutAlign="start center"
                [@animate]="{value:'*',params:{delay:'100ms',y:'-25px'}}">
                <mat-icon class="logo-icon mr-16">settings</mat-icon>
                <span class="logo-text h1">
                    Service Management
                </span>
            </div>
            
        </div>

        <div>

            <button mat-raised-button class="mr-12" color="accent" [disabled]="tableLoading" (click)="reloadTable($event)">
                <mat-icon>sync</mat-icon>
                Refresh
            </button>

            <button mat-raised-button color="accent" (click)="openAddEditDialog($event, null)">
                <mat-icon>add</mat-icon>
                New Service
            </button>

        </div>

    </div>

    <div fusePerfectScrollbar>
        
        <div class="profile-content p-24" fxLayout="row wrap" fxLayoutAlign="center center">
            
            <div fxFlex.gt-lg="1366px" fxFlex="80%" class="mat-elevation-z4" *ngIf="serviceList.length > 0 || tableLoading">
                
                <mat-progress-bar mode="query" *ngIf="tableLoading"></mat-progress-bar>
                
                <mat-table #servicetable [dataSource]="dataSource" [@animateStagger]="{value:'50'}">
    
                    <ng-container matColumnDef="name">
    
                        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    
                        <mat-cell *matCellDef="let service">
    
                            <p class="text-truncate font-weight-600">{{ service.name | titlecase}}</p>
    
                        </mat-cell>
    
                    </ng-container>
    
                    <ng-container matColumnDef="description">
    
                        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-xs>Description</mat-header-cell>
    
                        <mat-cell *matCellDef="let service" fxHide fxShow.gt-xs>
    
                            <p class="email text-truncate">{{ service.description }}</p>
    
                        </mat-cell>
    
                    </ng-container>
    
                    <ng-container matColumnDef="price">
    
                        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Price</mat-header-cell>
    
                        <mat-cell *matCellDef="let service" fxHide fxShow.gt-md>
    
                            <p class="phone text-truncate">{{ service.price | currency }}</p>
    
                        </mat-cell>
    
                    </ng-container>

                    <ng-container matColumnDef="duration">
    
                        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Duration</mat-header-cell>
    
                        <mat-cell *matCellDef="let service" fxHide fxShow.gt-md>
    
                            <p class="phone text-truncate">{{ service.duration }} Minutes</p>
    
                        </mat-cell>
    
                    </ng-container>

                    <ng-container matColumnDef="active">
    
                        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-xs>Active</mat-header-cell>
    
                        <mat-cell *matCellDef="let service" fxHide fxShow.gt-xs>
    
                            <mat-icon *ngIf="service.active" class="green-fg">check_circle_outline</mat-icon>
                            <mat-icon *ngIf="!service.active" class="warn-fg">highlight_off</mat-icon>
    
                        </mat-cell>
    
                    </ng-container>
    
                    <ng-container matColumnDef="buttons">
    
                        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
    
                        <mat-cell *matCellDef="let service">
    
                            <div fxFlex="row" fxLayoutAlign="start center">
    
                                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                                    (click)="$event.stopPropagation();">
                                    <mat-icon class="secondary-text">more_vert</mat-icon>
                                </button>
    
                                <mat-menu #moreMenu="matMenu">

                                    <button mat-menu-item aria-label="remove" (click)="openAddEditDialog($event, service)">
                                        <mat-icon class="accent-fg">edit</mat-icon>
                                        <span class="accent-fg">Edit</span>
                                    </button>

                                    <button mat-menu-item aria-label="remove" (click)="deleteService($event, service)">
                                        <mat-icon class="warn-fg">delete</mat-icon>
                                        <span class="warn-fg">Delete</span>
                                    </button>

                                </mat-menu>
                            </div>
    
                        </mat-cell>
                    </ng-container>
    
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    
                    <mat-row *matRowDef="let contact; columns: displayedColumns;" class="contact" [@animate]="{value:'*',params:{y:'100%'}}">
    
                    </mat-row>
    
                </mat-table>
    
                <mat-paginator 
                    [pageSizeOptions]="[10, 20, 30]"
                    showFirstLastButtons>
                </mat-paginator>
                
                
            </div>

            <div fxFlex.gt-lg="1366px" fxFlex="80%" class="mat-elevation-z4" *ngIf="serviceList.length === 0 && !tableLoading">

                <mat-card class="w-100-p">

                    <mat-card-content>
                
                        <div class="p-40" fxLayout="column" fxLayoutAlign="center center">
                            
                            <div>
                                <mat-icon class="font-size-72 primary-fg inline">info</mat-icon>
                            </div>

                            <div>
                                <h2 class="h2">No Data Found</h2>
                            </div>

                        </div>

                    </mat-card-content>
                
                </mat-card>

            </div>
                

        </div>

    </div>


</div>