<div class="dialog-content-wrapper">

    <mat-toolbar class="primary-400 m-0">

        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">

            <span class="title dialog-title">Change Password</span>

            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>

        </mat-toolbar-row>

    </mat-toolbar>

    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar [fusePerfectScrollbarOptions]="{ suppressScrollX: true }">

        <form name="passwordForm" [formGroup]="passwordForm" fxLayout="column" fxFlex>

            <mat-form-field appearance="outline">

                <mat-label>Current Password</mat-label>

                <input matInput type="password" formControlName="current_password">

                <mat-error *ngIf="passwordForm.get('current_password').hasError('required')">
                    Current password is required
                </mat-error>

            </mat-form-field>

            <mat-form-field appearance="outline">

                <mat-label>New Password</mat-label>

                <input matInput type="password" formControlName="password">

                <mat-error *ngIf="passwordForm.get('password').hasError('required')">
                    Password is required
                </mat-error>

            </mat-form-field>

            <mat-form-field appearance="outline">

                <mat-label>Confirm New Password</mat-label>

                <input matInput type="password" formControlName="confirm_password">

                <mat-error *ngIf="passwordForm.get('confirm_password').hasError('matchError') && !passwordForm.get('confirm_password').hasError('required')">
                    Password does not match
                </mat-error>

                <mat-error *ngIf="passwordForm.get('confirm_password').hasError('required')">
                    Confirm password is required
                </mat-error>

            </mat-form-field>

        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">

        <div></div>
        
        <div>
            <button 
                mat-raised-button 
                color="accent"
                [disabled]="passwordForm.invalid"
                [loading]="loading"
                (click)="submit($event)">
                Update
            </button>

            <button 
                mat-raised-button 
                color="warn"
                (click)="matDialogRef.close()">
                Close
            </button>
        </div>
        
    </div>
</div>