<div id="main">

    <!-- Header -->
    <app-header (toggleSideNavEvent)="toggleSideNav()"></app-header>
    <!-- / Header -->

    <div id="container-1">

        <mat-drawer-container class="h-100-p" autosize>

            <mat-drawer #drawer class="p-20" mode="side" opened>

                <!-- Navigation -->
                <app-navigation></app-navigation>
                <!-- / Navigation -->

            </mat-drawer>

            <div class="content-wrapper">

                <!-- Content -->
                <app-content></app-content>
                <!-- / Content -->
                
            </div>

        </mat-drawer-container>

    </div>

</div>