

:host {

    #main {
        
        height: 100%;

        #container-1 {
            height: 100%;
            width: 100%;

            mat-drawer-container {

                .mat-drawer-container {
                    overflow: hidden;
                }

            }

            .content-wrapper {
                height: calc(100% - 64px);
                overflow: auto;
            }

        }
        
    }

}