@import "src/@fuse/scss/fuse";

:host {

    .mat-column-date {
        max-width: 100px;
    }

    .mat-column-status {
        max-width: 100px;
    }
    
    .mat-column-price {
        max-width: 100px;
    }

    .services {
        word-break: break-word;
    }

}